*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --txt-color: #9fe870;
  --bg-color: #223d0de6;
}
.home-page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
  flex-direction: column;
  gap:15px;
}
.home-page > h1{
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 1.4;
  padding: 0 30px;
  text-align: center;
}
.home-btn{
  display: flex;
  gap:20px;
}
.home-btn p{
  background-color: var(--txt-color);
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--txt-color);
  color: var(--bg-color);
  transition: all 0.3s;
  border-radius: 10px;
}
.home-btn a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color:inherit;
}
.home-btn p:hover{
  color: var(--txt-color);
  background-color: transparent;
}
